<div class="table">
    <div class="table-header">
        <div style='display: inherit; width: 20%;' (click)="sortList()">
            <span>
                Date
            </span>
            <div class="arrow-down"></div>
        </div>    
        
        <span style='width: 20%;'>
            Title
        </span>
        <span style='width: 35%;'>
            Content
        </span>
        <span style='width: 20%;'>
        </span>
    </div>

    <ng-template *ngIf="hasFilter" ngFor let-record [ngForOf]="records | filter:{Text:searchText}">
        <div class="table-row">
            <span style='width: 20%;'>{{record.time}}</span>
            <span style='width: 20%;'>{{record.title}}</span>
            <span style='width: 50%; padding-right: 50px;'>{{record.content}}</span>
            <span style='width: 5%;'>
                <button class="sec_btn" style="float:right;" (click)="detailRecord($event, record)">Detail</button>
            </span>
            <span style='width: 5%;'>
                <button class="sec_btn" style="float:right;" (click)="editRecord($event, record)">Edit</button>
            </span>
        </div>
    </ng-template>

    <detail-note *ngIf="viewNote" 
            [detailNote]="note" 
            (onView)="closeDetail($event)" 
            (onDelete)="deleteNote($event)"></detail-note>

    <edit-note *ngIf="editNote" 
        [detailNote]="note" 
        (onBack)="closeEdit($event)" 
        (onEditNote)="editNoteRecord($event)"></edit-note>
</div>