<div class="table">
    <div class="table-header">
        <span style='width: 30%;'>
            Code
        </span>
        <span style='width: 30%;'>
            Name
        </span>
        <span style='width: 30%;'>
            Description
        </span>
        <span style='width: 10%;'>
        </span>
    </div>
    <!-- detailRecord($event, record) -->
    <ng-template ngFor let-record [ngForOf]="records | filter:{Text:searchText}">
        <div class="table-row">
            <span style='width: 30%;'>{{record.code}}</span>
            <span style='width: 30%;'>{{record.name}}</span>
            <span style='width: 30%;'>{{record.description}}</span>
            <span style='width: 10%;'>
                <button (click)="detailRecord(event, record)">Detail</button>
            </span>
        </div>
    </ng-template>
</div>