<div class="table">
    <div class="table-header">
        <span style='width: 30%;'>
            Code
        </span>
        <span style='width: 30%;'>
            Name
        </span>
        <span style='width: 40%;'>
            Description
        </span>
    </div>
    <ng-template ngFor let-record [ngForOf]="records">
        <div class="table-row">
            <span style='width: 30%;'>{{record.code}}</span>
            <span style='width: 30%;'>{{record.name}}</span>
            <span style='width: 40%;'>{{record.description}}</span>
        </div>
    </ng-template>
</div>