<div class="table">
    <div class="table-header">
        <span *ngIf="hasFilter" style='width: 30%;'>
            Code
        </span>
        <span *ngIf="!hasFilter" style='width: 30%;'>
            Type
        </span>
        <span style='width: 30%;'>
            Name
        </span>
        <span style='width: 30%;'>
            Description
        </span>
        <span style='width: 10%;'>
        </span>
    </div>

    <ng-template *ngIf="hasFilter" ngFor let-record [ngForOf]="records | filter:{Text:searchText}">
        <div class="table-row">
            <span style='width: 30%;'>{{record.code}}</span>
            <span style='width: 30%;'>{{record.name}}</span>
            <span style='width: 30%;'>{{record.description}}</span>
            <span style='width: 10%;'>
                <button (click)="detailRecord(event, record)">Detail</button>
            </span>
        </div>
    </ng-template>

    <ng-template *ngIf="!hasFilter" ngFor let-record [ngForOf]="records">
        <div class="table-row">
            <span style='width: 30%;'>{{record.type}}</span>
            <span style='width: 30%;'>{{record.name}}</span>
            <span style='width: 40%;'>{{record.description}}</span>
        </div>
    </ng-template>
</div>