<!--The content below is only a placeholder and can be replaced.-->
<div class="page">
  <div class="interactions">
    <h1>Code challenge</h1>
    <br />
    <!-- <Search value={searchTerm} onChange={this.onSearchTermChange} onSubmit={(event)=> this.fetchSearchTopStories(searchTerm, 0, event)} > Search text
    </Search> -->
    <search-component (searchText)="searchInCatalogs($event)"></search-component>
    <br />
    <div *ngIf="catalog">
      <table-component [records]="catalog">
      </table-component>
    </div>

    <!-- <div className="interactions">
        <Button onClick={(event) => this.fetchSearchTopStories(searchTerm, page + 1, event)}>
          More
        </Button>
      </div> -->
  </div>
</div>